<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="angulartoDo">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Node/Angular toDo App</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #toDo-list              { margin-bottom:30px; }
        .pending-delete         { text-decoration: line-through; }
        .strike                 { text-decoration: line-through;}
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="core.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL toDoS -->
<body ng-controller="mainController">
    <div class="container">

        <!-- HEADER AND toDo COUNT -->
        <div class="jumbotron text-center">
            <h1>To Do List <span class="label label-info">{{ toDos.length }}</span></h1>
        </div>

        <!-- toDo LIST -->
        <div id="toDo-list" class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <button ng-click="myFilter = {completed: true}">Completed</button> | 
                <button ng-click="myFilter = {completed: false}">Active</button> |
                <button ng-click="myFilter = null">All</button>
            

                <!-- LOOP OVER THE toDoS IN $scope.toDos -->
                <div class="checkbox" ng-repeat="toDo in toDos | orderBy:'completed' |filter:myFilter" ng-class = "{'pending-delete': toDo.completed}">
                <div  ng-controller="filterController">
                    <label> 
                        
                        <input type="checkbox" ng-click="movetoDo(toDo._id)" ng-model="toDo.completed" > <div ng-hide="editorEnabled">{{ toDo.text }}
                         <a href="#" ng-click="enableEditor()">Edit</a> </div>
                         <div ng-show="editorEnabled">
                          <input ng-model="editableTitle" ng-show="editorEnabled">
                          <a href="#" ng-click="save(toDo._id)">Save</a>
                          or
                          <a href="#" ng-click="disableEditor()">cancel</a>.
                        </div>

                    </label>
            </div>
            </div>

            </div>
        </div>

        <!-- FORM TO CREATE toDoS -->
        <div id="toDo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="I want to buy a puppy that will love me forever" ng-model="formData.text">
                    </div>

                    <!-- createtoDo() WILL CREATE NEW toDoS -->
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createtoDo()">Add</button>
                </form>
            </div>
        </div>

    </div>

</body>
</html>