
<h1>Ingredients and Cool Stuff</h1>

<form id="ajax-form" action="addIngredientsPOST" method="POST">
  Name: <input type="text" name="name"/><br/>
  Price: <input type="text" name="price"/><br/>
  <input type="submit" value="Submit">
</form>
<div id="result"></div>

<ul id = 'ingredientsList'>
{{#each is}} 
  <li id = {{this.id}}>  {{this.name}}, {{this.price}}  <button type = 'button' class = 'editButton' value = 'EDIT'> Edit This Ingredient</button> <button type = 'button' class = 'outOfStock' value = 'OUTOFSTOCK'> Out Of Stock</button> </li>
{{/each}}
</ul>