/*made sidebar and header*/

#addNew{ 
	float: left;
	width: 15%;
}

#searchStuff{ 
	float: right; 
	width: 50%;
}

/*#searchButton{ 
	float: right;
	width: 15%;

}*/

/*.search-box-btn{ 

	float: right;
	width: 15%;
}*/


#inputBoxContent{ 
	height: 70px; 
}